body {
    padding-bottom: 5%;
    background-color: #505291;
}

.form-signin {
    margin-top: 10%;
    padding: 15px;
    margin: 0 auto;
}

.container {
    padding-top: 5%;
    width: 80%;
    background: #ECECEC;
    border: 1px solid white;
    box-shadow: 0 5px 5px 5px;
    padding: 5%;
}

.navbar{
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    /*position: absolute;*/
    width: 100%;
    height: 10%;
    background: #535353;
    margin: 0;
    padding: 2%;
    box-shadow: 0 5px 5px 5px black;
}
.nav-items{
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-top: 5%;
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}