<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja klubów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">

        <form th:action="@{/redirectToSearchClubPage}">
            <input class="nav-items" type="submit" value="wyszukaj klub"/>
        </form>
        <form th:action="@{/redirectToSearchCompetitionsPage}">
            <input class="nav-items" type="submit" value="wyszukaj zawody"/>
        </form>
        <form th:action="@{/redirectToSearchPlayersPage}">
            <input class="nav-items" type="submit" value="wyszukaj zawodników"/>
        </form>

        <div sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <a onclick="document.forms['logoutForm'].submit()">Logout</a>
        </div>
    </div>

    <div class="container">
        <form method="POST" class="form-signin" th:object="${clubForm}" th:action="@{/registrationClub}">
            <div class="form-group">
                <input type="text"  placeholder="Wpisz nazwę klubu" autofocus="true">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj klub</button>
<!--            <table>-->
<!--                <tr>-->
<!--                    <td>Club Name:</td>-->
<!--                    <td><input type="text" th:field="*{name}" /></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td colspan="2"><button type="submit">Save</button> </td>-->
<!--                </tr>-->
<!--            </table>-->
        </form>
    </div>
</body>
</html>